# Dependencies
node_modules/

# Next.js
.next/
out/

# NestJS
dist/

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Prisma
prisma/dev.db

# Docker
postgres_data/